/* This makes width calculations easier for all elements */
* {
  box-sizing: border-box;
}

/* Background color outside the main site box */
body {
  background-color: #a7d3d1; /* similar to the mockup teal background */
  margin: 0;                /* removes default browser margins */
  font-family: Arial, Helvetica, sans-serif;
}

/*
  WRAPPER:
  This is the main white/light box holding the entire page.
  - width sets a fixed size (like class example)
  - margin:auto centers it
*/
.wrapper {
  width: 800px;
  background-color: #cfe7e6; /* inner background similar to prototype */
  margin: auto;
  padding-bottom: 20px;      /* extra space at bottom */
}