/* Inheritance */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    }
/*Multiple elements*/
header,
footer {
    background-color: aquamarine;
}
/*Class selectr*/
<h1 class="site-title">
.site-title {
    color:blueviolet
}