/* Inheritance */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    }
/*Multiple elements*/
header,
footer {
    background-color: rgb(254, 64, 153);
}
/*Class selectr*/
.site-title {
    color:blueviolet
}
/*id selector*/
#my-image {
    box-shadow: 0 0 2px 1px black;
    }
/*list*/
ul.hobbies {
    list-style-type: square;
}
ul.hobbies li:nth-child(odd) {
    background-color: burlywood;
}
/* Navigation */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}
nav a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  background-color: rgb(235, 151, 215);
  border: 1px solid;
  color: black;
}
nav a:hover,
nav a:focus {
  background-color: rgb(80, 220, 231);
}